:root {
  /* =====================
     Fonts
  ====================== */
  --font-family-base: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;

  --line-height-base: 1.5;

  /* =====================
     Spacing
  ====================== */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;

  --container-padding: var(--space-5);
  --grid-gutter: var(--space-4);

  /* =====================
     Colors (Glass friendly)
  ====================== */
  --color-primary: #7c7cff;
  --color-accent: #22d3ee;

  --color-text-primary: rgba(255, 255, 255, 0.9);
  --color-text-secondary: rgba(255, 255, 255, 0.65);
  --color-text-muted: #444;

  --color-border-glass: rgba(255, 255, 255, 0.18);

  /* =====================
     Backgrounds
  ====================== */
  --bg-body: #111;
  /* --bg-body: radial-gradient(
    circle at top left,
    #0e0d17,
    #01030c
  ); */
  --bg-light:rgba(255,255,255,.9);
  --bg-light-dark:rgba(255,255,255,.7);
  --bg-glass: rgba(255, 255, 255, 0.08);
  --bg-glass-hover: rgba(255, 255, 255, 0.12);
  --bg-overlay: rgba(0, 0, 0, 0.5);
  --bg-choose: #1facc2;
  --bg-reset: #bd2a10;
  --bg-save: #7373eb;
  --bg-preset: rgb(238, 236, 232);
  --bg-preset-selected: wheat;

  /* =====================
     Glass Effects
  ====================== */
  --glass-blur-sm: blur(8px);
  --glass-blur-md: blur(12px);
  --glass-blur-lg: blur(20px);

  --glass-saturation: saturate(140%);

  /* =====================
     Border Radius
  ====================== */
  --radius-mn: 0.123rem; /* 3px */ /* 3 * .041 = .123 */
  --radius-xs: 0.375rem; /* 6px */ /* 6 * .041 = .375 */
  --radius-sm: 0.5rem;   /* 8px */
  --radius-md: 0.75rem;  /* 12px */
  --radius-lg: 1rem;     /* 16px */
  --radius-xl: 1.5rem;   /* 24px */

  /* =====================
     Flex Gap
  ====================== */
  --gap-sm: 10px;
  --gap-md: 15px;
  --gap-xm: 20px;
  --gap-xl: 40px;
  --gap-2xl: 80px;

  /* =====================
     Shadows (soft + glow)
  ====================== */
  --shadow-glass-sm: 0 8px 24px rgba(0, 0, 0, 0.2);
  --shadow-glass-md: 0 16px 40px rgba(0, 0, 0, 0.35);
  --shadow-glow: 0 0 40px rgba(124, 124, 255, 0.35);
}
